mkdocs==1.6.1
mkdocs-macros-plugin==1.3.7
mkdocs-video==1.5.0
mdx_truly_sane_lists==1.3
mkdocs-material==9.6.14

# Force use newer versions of these dependencies. Their older versions had security vulnerabilities.
# https://github.com/saket/telephoto/security/dependabot/1
pymdown-extensions>=10.0

# https://github.com/saket/telephoto/security/dependabot/2
requests>=2.31.0

# https://github.com/saket/telephoto/security/dependabot/8
idna>=3.7

# https://github.com/saket/telephoto/security/dependabot/9
jinja2>=3.1.4

# https://github.com/saket/telephoto/security/dependabot/11
urllib3>=2.2.2

# https://github.com/saket/telephoto/security/dependabot/12
certifi>=2024.07.04

# https://github.com/saket/telephoto/security/dependabot/10
requests>=2.32.0
